<div class="login-container">
  <div class="slideshow">
    <img [src]="'./assets/images/photo' + currentImage + '.png'" alt="Recipe Image" class="slide-image">
  </div>
  <div class="overlay">
    <div class="login-card">
      <div class="login-content">
        <div class="chef-side">
          <img src="./assets/images/logo.jpg" alt="Logo">
        </div>
        <div class="form-side">
          <h2>Se connecter</h2><br><br>
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <fa-icon [icon]="faEnvelope" class="field-icon"></fa-icon>
              <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
              <fa-icon [icon]="faLock" class="field-icon"></fa-icon>
              <input type="password" [(ngModel)]="password" name="password" placeholder="Mot de passe" required>
            </div>
            <button type="submit" class="login-btn">Se connecter</button>
            <div class="signup-link">
              <span>Vous n'avez pas un compte ? </span>
              <a routerLink="/signup">S'inscrire</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
